.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  /* background-color: transparent; */
  /* border-color: transparent; */
  border-radius: 0.375rem;
  width: fit-content;
  /* text-align: center; */
  font-weight: 600;
  font-size: medium;
  width: 100%;
  font-weight: 400;
}

.react-datepicker__triangle {
    left: -1rem !important;
}