@tailwind base;
@tailwind components;
@tailwind utilities;

/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Works for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

#test{
    background-image: none;
    width: min-content;
    padding: 3px 20px;
    border-radius: 1rem;
}